.basket-atb-button {
  margin-right: 10px;
  padding: 10px 16px;
  background-color: #ff058212;
  appearance: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;

  justify-content: center;
  align-items: center;
  display: flex;

  height: 40px;
  border-radius: 20px;
  color: #fd5678;

  .basket-atb-button-logo {
    height: 20px;
    width: 20px;
    margin-right: 8px;
  }
}

.basket-atb-button:hover {
  background: linear-gradient(90deg, #f5354d, #fb5486 50%, #fd6f90);
  color: #fff;

  .basket-atb-button-logo {
    fill: #fff;
  }
}
